.dashboard-title {
  color: #6d428f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.section-title {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 20px;
  color: #161616;
}
.card {
  border-radius: 10px;
  padding: 3px;
  margin: 10px 0;
}
.card-icon {
  margin-right: 10px;
}
.card-title {
  font-size: 16px;
  font-weight: 400;
  color: #1f2a37 !important;
  line-height: 24px;
}
.card-number {
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer .percentage {
  font-size: 14px;
}
.card-footer .icon {
  font-size: 14px;
}
