<div class="container">
    <div class="dashboard-title">{{ 'DASHBOARD.TITLE' | translate }}</div>
    
    <div class="section-title">{{ 'DASHBOARD.GENERAL_NUMBERS' | translate }}</div>
    <div class="row">
        <div class="col-md-6" style="cursor: pointer;">
            <div class="card border">
                <div class="d-flex align-items-center">
                    <div class="card-icon text-white bg-purple p-2 rounded">
                        <img src="/assets/Number-of-companies.svg" alt="{{ 'DASHBOARD.NUMBER_OF_COMPANIES' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.NUMBER_OF_COMPANIES' | translate }}</div>
                        <div class="card-number">2350</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="cursor: pointer;">
            <div class="card border">
                <div class="d-flex align-items-center">
                    <div class="card-icon text-white bg-purple p-2 rounded">
                        <img src="/assets/Number-of-customers.svg" alt="{{ 'DASHBOARD.NUMBER_OF_CUSTOMERS' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.NUMBER_OF_CUSTOMERS' | translate }}</div>
                        <div class="card-number">200</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-title">{{ 'DASHBOARD.CAMPAIGNS_ORDERS' | translate }}</div>
    <div class="row">
        <div class="col-md-3">
            <div class="card border" style="cursor: pointer;">
                <div class="d-flex align-items-center">
                    <div class="card-icon">
                        <img src="/assets/New-order.svg" alt="{{ 'DASHBOARD.NEW' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.NEW' | translate }}</div>
                        <div class="card-number">2350</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border" style="cursor: pointer;">
                <div class="d-flex align-items-center">
                    <div class="card-icon">
                        <img src="/assets/Returned-order.svg" alt="{{ 'DASHBOARD.RETURNED_ORDERS' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.RETURNED_ORDERS' | translate }}</div>
                        <div class="card-number">200</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border" style="cursor: pointer;">
                <div class="d-flex align-items-center">
                    <div class="card-icon">
                        <img src="/assets/accepted-order.svg" alt="{{ 'DASHBOARD.ACCEPTED' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.ACCEPTED' | translate }}</div>
                        <div class="card-number">200</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border" style="cursor: pointer;">
                <div class="d-flex align-items-center">
                    <div class="card-icon">
                        <img src="/assets/rejected-order.svg" alt="{{ 'DASHBOARD.REJECTED' | translate }}" width="45" height="45">
                    </div>
                    <div>
                        <div class="card-title">{{ 'DASHBOARD.REJECTED' | translate }}</div>
                        <div class="card-number">200</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
