<div class="container">
  <p-breadcrumb class="max-w-full">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-primary font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url">
          <span class="text-color">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
  <h2
    style="color: #6d428f; font-size: 16px; line-height: 24px; font-weight: 600"
  >
    Group List
  </h2>
  <div>
    <h6>Search</h6>
    <div class="search-container">
      <div class="search-input">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search by Group name" />
      </div>
      <button class="btn btn-outline-secondary">Search</button>
      <button class="btn btn-add-company" type="button" (click)="openDialog()">
        Add Group
      </button>
    </div>
  </div>
  <div class="card">
    <p-table
      #dt1
      [value]="groups"
      dataKey="id"
      [rows]="perPage"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [totalRecords]="totalRecords"
      (onPage)="onPageChange($event)"
      [globalFilterFields]="['representative.name']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">ID</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Group Name</div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Cr #</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Business Category</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Region</div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">Actions</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-groups>
        <tr>
          <td>
            <span class="ml-1 vertical-align-middle">{{ groups.id }}</span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{ groups.name }}</span>
          </td>
          <td>{{ groups.cr_number }}</td>
          <td>{{ groups.business_category }}</td>
          <td>
            <ng-container *ngFor="let region of groups.regions; let i = index">
              {{ region.region_name
              }}<span *ngIf="i < groups.regions.length - 1">, </span>
            </ng-container>
          </td>

          <td>
            <div class="flex-container">
              <img
                src="/assets/view-icon.svg"
                alt="View"
                class="icon"
                (click)="navigateToViewList(groups.id)"
              />
              <img
                (click)="onDelete(groups.id, groups.name)"
                src="/assets/delete.svg"
                alt="Gift"
                class="icon"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: column;
              "
            >
              <img src="/assets/no-data.svg" alt="" />
              <div>No Groups added Yet.</div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="display"
  [modal]="true"
  [header]="'Groups Detail'"
  [closable]="true"
  [style]="{ width: '50vw', height: 'auto' }"
  [contentStyle]="{ 'max-height': 'fit-content', 'overflow-y': 'auto' }">
  <form
    [formGroup]="addGroup"
    (ngSubmit)="onAddGroupSubmit()"
    class="giveaway-form"
  >
    <div class="form-grid">
      <div class="form-row">
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              addGroup.controls['name'].invalid &&
              addGroup.controls['name'].touched
          }"
        >
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Enter Group Name"
          />
          <div
            class="error-message"
            *ngIf="
              addGroup.controls['name'].invalid &&
              addGroup.controls['name'].touched
            "
          >
            Name is required.
          </div>
        </div>

        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              addGroup.controls['cr_number'].invalid &&
              addGroup.controls['cr_number'].touched
          }"
        >
          <label for="description">CR #</label>
          <input
            id="description"
            formControlName="cr_number"
            placeholder="Enter crNumber"
          />
          <div
            class="error-message"
            *ngIf="
              addGroup.controls['cr_number'].invalid &&
              addGroup.controls['cr_number'].touched
            "
          >
            CR Number is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              addGroup.controls['business_category'].invalid &&
              addGroup.controls['business_category'].touched
          }"
        >
          <label for="address">Business Category</label>
          <input
            id="address"
            type="text"
            formControlName="business_category"
            placeholder="Enter Business Category"
          />
          <div
            class="error-message"
            *ngIf="
              addGroup.controls['business_category'].invalid &&
              addGroup.controls['business_category'].touched
            "
          >
            Business Category is required.
          </div>
        </div>

        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              addGroup.controls['region_id'].invalid &&
              addGroup.controls['region_id'].touched
          }"
        >
          <label for="region">Region</label>
          <p-multiSelect
            id="region"
            formControlName="region_id"
            [options]="regions"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Regions"
            display="chip"
            [showToggleAll]="true"
            class="dropdown"
          ></p-multiSelect>
          <div
            class="error-message"
            *ngIf="
              addGroup.controls['region_id'].invalid &&
              addGroup.controls['region_id'].touched
            "
          >
            Region is required.
          </div>
        </div>
      </div>
    </div>

    <div class="admin-details-header">Group Admin Details</div>

    <div class="form-row">
      <div *ngIf="users.length > 0; else addAdminTemplate" class="form-field">
        <label for="regionDropdown">Admin</label>
        <p-multiSelect
            id="user"
            formControlName="user_id"
            [options]="users"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Admin"
            display="chip"
            [showToggleAll]="true"
            class="dropdown"
          ></p-multiSelect>
      </div>
      <ng-template #addAdminTemplate>
        <button pButton label="Add Admin" (click)="openAddAdminDialog()" class="p-button-raised"></button>
      </ng-template>
    </div>
    <app-employee-form [(display)]="showEmployeeFormDialog" 
                          [selectedEmployee]="selectedEmployee"
                          (onSave)="handleDialogSave($event)">
    </app-employee-form>

   
    <div class="button-row">
      <button
        pButton
        label="Cancel"
        type="button"
        class="p-button-outlined"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        class="p-button-raised"
        [disabled]="addGroup.invalid || isLoading"
        type="submit"
      >
        <ng-container *ngIf="isLoading; else buttonLabel">
          <span class="loading-text">{{ loadingText }}</span>
          <div class="loading-dots">
            <span class="dot" *ngFor="let dot of [1,2,3]; let i = index" [ngClass]="{'animate': isLoading}"></span>
          </div>
        </ng-container>
        <ng-template #buttonLabel>
         Add Group
        </ng-template>
      </button>
    </div>
  </form>
</p-dialog>
<!-- Delete Confirmation Dialog -->
<p-dialog
  [(visible)]="delete"
  [modal]="true"
  [header]="'Delete Group'"
  [closable]="true"
  [style]="{ width: '40vw' }"
>
  <div class="giveaway-form">
    <p>
      Are you sure you want to delete <strong>{{ groupNameToDelete }}</strong
      >?
    </p>

    
    <div class="button-row">
      <button
        pButton
        label="Cancel"
        class="p-button-outlined"
        (click)="onDeleteCancel()"
        [disabled]="isDeleting"
      ></button>
  
      <button
        pButton
        class="p-button-raised"
        [disabled]="isDeleting"
        (click)="confirmDelete()"
      >
        <ng-container *ngIf="isDeleting; else deletebuttonLabel">
          <span class="loading-text">{{ loadingText }}</span>
          <div class="loading-dots">
            <span
              class="dot"
              *ngFor="let dot of [1, 2, 3]; let i = index"
              [ngClass]="{ animate: isLoading }"
            ></span>
          </div>
        </ng-container>
        <ng-template #deletebuttonLabel>
          {{ isDeleting ? loadingText : "Delete" }}
        </ng-template>
      </button>
    </div>
  </div>
</p-dialog>
