::ng-deep tbody,
td,
tfoot,
th,
thead,
tr {
  padding: 8px !important;
}

.upload-section {
  border: 1px dashed #d3c1e5;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f5fa;
}
.upload-section-p {
  border: 1px dashed #d3c1e5;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f5fa;
}
.upload-label {
  color: #6d428f;
  font-weight: bold;
}

.upload-input {
  display: none;
}

.upload-section small {
  display: block;
  margin: 5px 0;
  color: #6d428f;
}
.upload-section-p small {
  display: block;
  margin: 5px 0;
  font-size: 10px;
  color: #6d428f;
}
.upload-section button {
  background-color: #0d121c;
  color: #fff;
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upload-section-p button {
  background-color: #0d121c;
  color: #fff;
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.preview-campaign {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.preview-campaign {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.preview-campaign h4 {
  color: rgb(83, 80, 80);
  font-size: 14px;
}

.preview-campaign p {
  color: #aaa;
}
.image-preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Space between images */
}

.image-preview {
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  border: 1px solid rgb(181, 176, 176); /* Optional: add some rounding */
}
.upload-section {
  display: flex;
  justify-content: space-between; /* Align items to the edges */
  align-items: end; /* Center items vertically */
}
.upload-section-p {
  display: flex;
  justify-content: space-between; /* Align items to the edges */
  align-items: end; /* Center items vertically */
}
.upload-info {
  flex: 1; /* Allow this section to take available space */
  margin-right: 66px; /* Space between upload info and file section */
}
.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red; /* Change to desired color */
  cursor: pointer;
  font-size: 16px;
}
small{
  color: red;
}