<div class="container">
  <p-breadcrumb class="max-w-full">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-primary font-semibold">{{
            item.label | translate
          }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url">
          <span class="text-color">{{ item.label | translate }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>

  <h2
    style="color: #6d428f; font-size: 16px; line-height: 24px; font-weight: 600"
  >
    Branches List
  </h2>

  <div>
    <h6>{{ "COMPANIES_LIST.SEARCH_LABEL" | translate }}</h6>
    <div class="search-container">
      <div class="search-input">
        <i class="fas fa-search"></i>
        <input
          [(ngModel)]="searchTerm"
          type="text"
          placeholder="{{ 'COMPANIES_LIST.SEARCH_PLACEHOLDER' | translate }}"
        />
      </div>
      <button (click)="loadBranches()" class="btn btn-outline-secondary">
        {{ "COMPANIES_LIST.SEARCH" | translate }}
      </button>
      <p-dropdown
        [options]="companies"
        optionLabel="name"
        placeholder="Select Company"
        optionValue="id"
        [(ngModel)]="selectedCompany"
        (onChange)="loadBranches()"
        class="ml-2"
        class="custom-dropdown"
      ></p-dropdown>
      <button class="btn btn-add-company" type="button" (click)="openDialog()">
        Add Branch
      </button>
    </div>
  </div>

  <div class="card">
    <p-table
      #dt1
      [value]="Branches"
      dataKey="id"
      [rows]="perPage"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [totalRecords]="totalRecords"
      (onPage)="onPageChange($event)"
      [globalFilterFields]="['representative.name']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              {{ "COMPANIES_LIST.NAME" | translate }}
            </div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">Telephone #</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Address</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Timing</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Company Name</div>
          </th>

          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              {{ "COMPANIES_LIST.ACTIONS" | translate }}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            <span class="ml-1 vertical-align-middle">{{ customer.name }}</span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{
              customer.telephone_no
            }}</span>
          </td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.timings }}</td>
          <td>{{ customer.company_name }}</td>

          <td>
            <div class="flex-container">
              <img
                src="/assets/edit.svg"
                alt="{{ 'COMPANIES_LIST.VIEW_ALT' | translate }}"
                (click)="openEditDialog(customer)"
                class="icon"
              />
              <img
                src="/assets/delete.svg"
                alt="{{ 'COMPANIES_LIST.GIFT_ALT' | translate }}"
                class="icon"
                (click)="onDelete(customer.id, customer.name)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: column;
              "
            >
              <img src="/assets/no-data.svg" alt="" />
              <div>No Branches added yet</div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  [(visible)]="display"
  [modal]="true"
  [header]="selectedEmployee ? 'Edit Branch' : 'Add Branch'"
  [closable]="true"
  [style]="{ width: '50vw' }"
>
  <form
    [formGroup]="branchForm"
    class="giveaway-form"
    (ngSubmit)="addEmployee()"
  >
    <div class="form-grid">
      <div class="form-row">
        <!-- Name Field -->
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              branchForm.controls['name'].invalid &&
              branchForm.controls['name'].touched
          }"
        >
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Enter Branch Name"
          />
          <div
            class="error-message"
            *ngIf="
              branchForm.controls['name'].invalid &&
              branchForm.controls['name'].touched
            "
          >
            <ng-container
              *ngIf="branchForm.controls['name'].errors?.['required']"
            >
              Name is required.
            </ng-container>
          </div>
        </div>

        <!-- Mobile Field -->
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              branchForm.controls['telephone_no'].invalid &&
              branchForm.controls['telephone_no'].touched
          }"
        >
          <label for="mobile">telephone no</label>
          <input
            id="mobile"
            type="number"
            formControlName="telephone_no"
            placeholder="Enter telephone no"
            [attr.inputmode]="'numeric'"
            class="no-spinner"
          />
          <div
            class="error-message"
            *ngIf="
              branchForm.controls['telephone_no'].invalid &&
              branchForm.controls['telephone_no'].touched
            "
          >
            <ng-container
              *ngIf="branchForm.controls['telephone_no'].errors?.['required']"
            >
              Mobile is required.
            </ng-container>
            <ng-container
              *ngIf="branchForm.controls['telephone_no'].errors?.['pattern']"
            >
              Mobile number must be numeric.
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Email Field -->
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              branchForm.controls['address'].invalid &&
              branchForm.controls['address'].touched
          }"
        >
          <label for="email">Address</label>
          <input
            id="email"
            type="text"
            formControlName="address"
            placeholder="Enter address"
          />
          <div
            class="error-message"
            *ngIf="
              branchForm.controls['address'].invalid &&
              branchForm.controls['address'].touched
            "
          >
            <ng-container
              *ngIf="branchForm.controls['address'].errors?.['required']"
            >
              Email is required.
            </ng-container>
            <ng-container
              *ngIf="branchForm.controls['address'].errors?.['address']"
            >
              Please enter a valid email address.
            </ng-container>
          </div>
        </div>

        <!-- Password Field -->
        <div
          class="form-field"
          [ngClass]="{
            'has-error':
              branchForm.controls['timings'].invalid &&
              branchForm.controls['timings'].touched
          }"
        >
          <label for="password">Timings</label>
          <input
            id="password"
            type="text"
            formControlName="timings"
            placeholder="Enter timings"
          />
          <div
            class="error-message"
            *ngIf="
              branchForm.controls['timings'].invalid &&
              branchForm.controls['timings'].touched
            "
          >
            <ng-container
              *ngIf="branchForm.controls['timings'].errors?.['timings']"
            >
              Password is required.
            </ng-container>
            <ng-container
              *ngIf="branchForm.controls['password'].errors?.['minlength']"
            >
              Password must be at least 8 characters long.
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Branch Dropdown Field -->
        <div class="form-field">
          <label for="regionDropdown"> Company</label>
          <p-dropdown
            id="regionDropdown"
            [options]="companies"
            optionLabel="name"
            placeholder="Select  company"
            optionValue="id"
            formControlName="company_id"
            class="custom-dropdown"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="admin-details-header">Admin Details</div>

    <div class="form-row">
        <div *ngIf="users.length > 0; else addAdminTemplate" class="form-field">
          <label for="regionDropdown">Admin</label>
          <p-multiSelect
              id="user"
              formControlName="user_id"
              [options]="users"
              optionLabel="name"
              optionValue="id"
              placeholder="Select Admin"
              display="chip"
              [showToggleAll]="true"
              class="dropdown"
            ></p-multiSelect>
        </div>
        <ng-template #addAdminTemplate>
          <button pButton label="Add Admin" (click)="openAddAdminDialog()" class="p-button-raised"></button>
        </ng-template>
      </div>
      <app-employee-form [(display)]="showEmployeeFormDialog" 
                            [selectedEmployee]="selectedEmployee"
                            (onSave)="handleDialogSave($event)">
      </app-employee-form>

    <!-- Submit Button -->
    <div class="button-row">
      <button
        pButton
        label="Cancel"
        class="p-button-outlined"
        (click)="onCancel()"
        type="button"
      ></button>
      <button
        pButton
        [label]="selectedEmployee ? 'Update Branch' : 'Add Branch'"
        class="p-button-raised"
        type="submit"
      ></button>
    </div>
  </form>
</p-dialog>
<p-dialog
  [(visible)]="delete"
  [modal]="true"
  [header]="'Delete City'"
  [closable]="true"
  [style]="{ width: '30vw' }"
>
  <div class="giveaway-form">
    <p>
      Are you sure you want to delete <strong>{{ employeeNameToDelete }}</strong
      >?
    </p>

    <div class="button-row">
      <button
        pButton
        label="Cancel"
        class="p-button-outlined"
        (click)="onDeleteCancel()"
        [disabled]="isLoading"
      ></button>

      <button
        pButton
        class="p-button-raised"
        [disabled]="isLoading"
        (click)="confirmDelete()"
      >
        <ng-container *ngIf="isLoading; else deletebuttonLabel">
          <span class="loading-text">{{ loadingText }}</span>
          <div class="loading-dots">
            <span
              class="dot"
              *ngFor="let dot of [1, 2, 3]; let i = index"
              [ngClass]="{ animate: isLoading }"
            ></span>
          </div>
        </ng-container>
        <ng-template #deletebuttonLabel>
          {{ isLoading ? loadingText : "Delete" }}
        </ng-template>
      </button>
    </div>

    <!-- Loading animation -->
  </div>
</p-dialog>
