<div class="container">
  <p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-primary font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url">
          <span class="text-color">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
  <h2 style="color: #6d428f; font-size: 16px; line-height: 24px; font-weight: 600">
    Feedback Center
  </h2>
  <div>
    <h6>Search</h6>
    <div class="search-container">
      <div class="search-input">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search by Survey Name">
      </div>
      <button class="btn btn-outline-secondary">Search</button>
      <button class="btn btn-add-company" routerLink="/admin/feedback/add-survey">Add Survey</button>
    </div>
  </div>
  <div class="card">
    <p-table #dt1 [value]="surveys" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
      [paginator]="true" [globalFilterFields]="[ 'representative.name']">

      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Survey Name
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Company Name
            </div>
          </th>

          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Duration
              <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" />

            </div>
          </th>
          <th style="min-width:10rem">
            
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Status
              <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" />

            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              actions
            </div>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            {{ customer.name }}
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{ customer.company_name }}</span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{ customer.start_date }} - {{ customer.end_date }}</span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle"> </span>
          </td>
          <td>
            <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" />
          </td>
          <td>
            <div class="flex-container">
              <img src="/assets/view-icon.svg" alt="First Image" class="icon" (click)="viewSurvey(customer.id)" />
              <img src="/assets/delete.svg" alt="First Image" class="icon"  (click)="onDelete(customer.id, customer .name)"/>

            </div>
          </td>


        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" [header]="'Add Reward'" [closable]="true" [style]="{ width: '50vw' }">
  <form [formGroup]="giveawayForm" class="giveaway-form">
    <div class="form-grid">
      <div class="form-row" *ngFor="let row of rowFields">
        <div class="form-field" *ngIf="row[0]">
          <label>{{ row[0].label }}</label>
          <input type="text" formControlName="{{ row[0].name }}" placeholder="Entered text" />
        </div>
        <div class="form-field" *ngIf="row[1]">
          <label>{{ row[1].label }}</label>
          <input type="text" formControlName="{{ row[1].name }}" placeholder="Entered text" />
        </div>
        <div class="form-field" *ngIf="row[2]">
          <label>{{ row[2].label }}</label>
          <input type="text" formControlName="{{ row[2].name }}" placeholder="Entered text" />
        </div>
      </div>
    </div>

    <div class="button-row">
      <button pButton label="Cancel" class="p-button-outlined" (click)="onCancel()"></button>
      <button pButton label="Add Reward" class="p-button-raised" (click)="onAddGiveaway()"></button>
    </div>
  </form>
</p-dialog>
<p-dialog
  [(visible)]="delete"
  [modal]="true"
  [header]="'Delete Survey'"
  [closable]="true"
  [style]="{ width: '40vw' }"
>
  <div class="giveaway-form">
    <p>
      Are you sure you want to delete <strong>{{ groupNameToDelete }}</strong
      >?
    </p>

    <div class="button-row">
      <button
        pButton
        label="Cancel"
        class="p-button-outlined"
        (click)="onDeleteCancel()"
        [disabled]="isDeleting"
      ></button>

      <button
        pButton
        [label]="isDeleting ? 'Deleting...' : 'Delete'"
        class="delete"
        (click)="confirmDelete()"
        [disabled]="isDeleting"
      >
        <ng-template *ngIf="isDeleting">
          <i class="pi pi-spin pi-spinner" style="margin-left: 5px"></i>
        </ng-template>
      </button>
    </div>
  </div>
</p-dialog>