<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template> -->
</p-toolbar>

<p-table
    #dt
    [value]="users"
    [rows]="5"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Staff</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th> -->
            <th style="max-width: 16rem">Name</th>
            <th style="max-width: 16rem">Email</th>
            <th pSortableColumn="name" style="max-width:16rem">
                Role
                <p-sortIcon field="name" />
            </th>
            
            <!-- <th>Image</th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Price
                <p-sortIcon field="price" />
            </th> -->
            <!-- <th pSortableColumn="category" style="min-width:10rem">
                Category
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="rating" style="min-width: 12rem">
                Reviews
                <p-sortIcon field="rating" />
            </th> -->
          
            <th style="max-width: 12rem">Action</th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <!-- <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td> -->
            <td style="max-width: 12rem">{{ user.username }}</td>
            <td style="max-width: 12rem">{{ user.email }}</td>

            <td style="max-width: 16rem">{{ user.role.name }}</td>
           
            <!-- <td>{{ product.price | currency: 'USD' }}</td>
            <td>{{ product.category }}</td>
            <td>
                <p-rating [(ngModel)]="product.rating" [readonly]="true" />
            </td> -->
          
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (onClick)="openUpdateDialog(user)"  />
                <p-button icon="pi pi-trash" severity="danger" class="mr-2" [rounded]="true" [outlined]="true" (click)="deleteUser(user.id)" />
            

            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" [modal]="true" header="{{ userId ? 'Edit User' : 'Add User' }}" [draggable]="false">
  <form [formGroup]="userForm" >
    <div class="flex flex-col gap-6">
      <div>
        <label class="block font-bold mb-3">Name</label>
        <input type="text" pInputText formControlName="username" placeholder="Enter Name"  class="w-full"/>
        <small class="text-red-500" *ngIf="submitted && userForm.controls['name'].invalid">Name is required.</small>
      </div>

      <div>
        <label class="block font-bold mb-3">Email</label>
        <input type="email" pInputText formControlName="email" placeholder="Enter Email" class="w-full" />
        <small class="text-red-500" *ngIf="submitted && userForm.controls['email'].invalid">Valid Email is required.</small>
      </div>

      <div>
        <label class="block font-bold mb-3">Role</label>
        <p-select [options]="roles" optionLabel="name" optionValue="id" formControlName="roleId" placeholder="Select Role"  class="w-full" appendTo="body"></p-select>
        <small class="text-red-500" *ngIf="submitted && userForm.controls['roleId'].invalid">Role is required.</small>
      </div>

    </div>

  
  </form>
    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()"></p-button>
      <button pButton type="submit" label="Save" icon="pi pi-check" (click)="userId?updateUser():saveUser()"></button>
    </ng-template>
</p-dialog>


