
<p-table
    #dt
    [value]="users"
    [rows]="perPage"
    [loading]="dataLoading"
    loadingIcon="pi pi-spinner pi-spin"
    [paginator]="true"
    [rowHover]="true"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [scrollable]="true"
    scrollHeight="67vh"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
   >

    <!-- Caption -->
    <ng-template #caption>
        <div class="flex items-center justify-between w-full">
            <h5 class="m-0">Manage Staff</h5>
            <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        </div>
    </ng-template>

    <!-- Table Header -->
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-user>
        <tr *ngIf="!dataLoading && users.length > 0">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role?.name || 'N/A' }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="openUpdateDialog(user)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user.id)" />
            </td>
        </tr>
    </ng-template>

    <!-- Skeleton Loading -->
    <ng-template pTemplate="loadingbody">
        <tr *ngFor="let _ of skeletonRows">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>

    <!-- Empty Message -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">
                <div class="flex flex-col items-center justify-center mt-5 text-gray-500">
                    <i class="pi pi-exclamation-circle" style="font-size: 2rem; color: red;"></i>
                    <div class="mt-2">{{ 'No Records Found' }}</div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" [modal]="true" header="{{ userId ? 'Edit User' : 'Add User' }}" [draggable]="false">
  <form [formGroup]="userForm" >
    <div class="flex flex-col gap-6">
      <div>
        <label class="block font-bold mb-3">Name</label>
        <input type="text" pInputText formControlName="username" placeholder="Enter Name"  class="w-full"/>
        <small class="text-red-500" *ngIf="submitted && userForm.controls['name'].invalid">Name is required.</small>
      </div>

      <div>
        <label class="block font-bold mb-3">Email</label>
        <input type="email" pInputText formControlName="email" placeholder="Enter Email" class="w-full" />
        <small class="text-red-500" *ngIf="submitted && userForm.controls['email'].invalid">Valid Email is required.</small>
      </div>

      <div>
        <label class="block font-bold mb-3">Role</label>
        <p-select [options]="roles" optionLabel="name" optionValue="id" formControlName="roleId" placeholder="Select Role"  class="w-full" appendTo="body"></p-select>
        <small class="text-red-500" *ngIf="submitted && userForm.controls['roleId'].invalid">Role is required.</small>
      </div>

    </div>

  
  </form>
    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()"></p-button>
      <button pButton type="submit" label="Save" [loading]="saveLoading" icon="pi pi-check" (click)="userId?updateUser():saveUser()"></button>
    </ng-template>
</p-dialog>


