/* header.component.scss */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-left .app-title {
  font-size: 1.5rem;
  color: #6d428f;
}

.header-right {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-language-icon {
  width: 20px;
  height: 20px;
}
.profile-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Change cursor to pointer */
}

/* Optional: Style the dropdown */
.p-dropdown {
  position: absolute;
  top: 45px; /* Adjust based on your header height */
  right: 0; /* Aligns to the right of the profile icon */
}
::ng-deep ul {
  margin-top: 0;
  /* margin-bottom: 1rem; */
  padding: 9px !important;
  margin-bottom: 0;
}
