


  
 <div *ngIf="showPrintView" >
  <div #invoiceCont>
  <div class="header">
   <div class="row">
    <div class="col-8">
     <h5>
      MILITARY ACCOUNTS CO-OPERATIVE HOUSING SOCIETY
     </h5>
     <p>
      {{billData?.ownerName}}
      <br/>
      Plot No :{{billData?.plotName}}
      <br/>
      Reference No :{{billData?.referenceNo}}
     </p>
    </div>
    
   </div>
  </div>
  <div class="billing-details">
   <!-- <h6>
    BILLING DETAILS FOR SERVICES
   </h6> -->
   <!-- <table>
    <thead>
     <tr>
      <th>
       WATER
      </th>
      <th>
       SEWERAGE
      </th>
      <th>
       SECURITY
      </th>
      <th>
       MAINTENANCE
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
       200
      </td>
      <td>
       50
      </td>
      <td>
       50
      </td>
      <td>
       50
      </td>
     </tr>
     <tr>
      <td class="due-date" colspan="4">
       DUE DATE: 10/12/2025
      </td>
     </tr>
     <tr>
      <td class="payable-bill" colspan="4">
       PAYABLE BILL ON DUE DATE: 3450.00
      </td>
     </tr>
     <tr>
      <td class="payable-bill-after" colspan="4">
       PAYABLE BILL AFTER DUE DATE: 3900.00
      </td>
     </tr>
    </tbody>
   </table> -->
  </div>
  <div style="display: flex;justify-content: space-between;">
 <div class="billing-history">
  <h6>
    BILLING HISTORY
  </h6>
  <table>
    <thead>
      <tr>
        <th>MONTH</th>
        <th>BILL RECEIPT DATE</th>
        <th>PAYMENT DATE</th>
        <th>PAYMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of billData?.billingHistory">
        <td>{{ history.month }}</td>
        <td>{{ history.issueDate ? (history.issueDate | date:'dd/MM/yyyy') : '-' }}</td>
        <td>{{ history.paidDate ? (history.paidDate | date:'dd/MM/yyyy') : '-' }}</td>
        <td>{{ history.status }}</td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="complaint-office">
   <h6>
    COMPLAINT OFFICE
   </h6>
   <p class="contact-info">
    FOR SUPPLY FAILURE CONTACT OFFICE: 042 35959766
   </p>
   <p class="note">
    نوٹ: براہ کرم بل کی ادائیگی کے بعد رسید سنبھال کر رکھیں۔
   </p>
  </div>
</div>
  <div class="bank-details">
   <h6>
    ONLINE ASKARI BANK ACCOUNT IBAN
   </h6>
   <p>
    PK50ASCM000321605001200
   </p>
   <p>
    After Payment Send It To billingmilitaryaccounts.com
   </p>
  </div>
  <div class="footer">
   <div class="row">
    <div class="col-8">
     <p>
      BANK COPY
     </p>
     <p>
      MILITARY ACCOUNTS CO-OPERATIVE HOUSING SOCIETY - BILLING
     </p>
     <p>
      REFERENCE NO:{{billData.referenceNo}}
     </p>
     
     
     <p>
      Plot No :{{billData.plotName}}
     </p>
     <p>
      DUE DATE:{{billData.dueDate |date}}
     </p>
     <p>
      AMOUNT: Rs.{{billData.amount}}
     </p>
    </div>

   </div>
  </div>

</div>
</div>
