/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 268px; /* Fixed width for the sidebar */
  background-color: #f3f4f6; /* Light gray background */
  height: 100vh; /* Full viewport height */
  padding: 2px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 100%; /* Size of the logo */
  height: 100%;
  margin-right: 10px;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.sidebar-menu {
  width: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  /* Adjusted padding for better alignment */
  background-color: #ffffff; /* White background for the items */
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  color: #4b5563; /* Text color */
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #e5e7eb; /* Hover effect color */
}

.menu-item img {
  margin: 12px; /* Space between icon and text */
}
::ng-deep body.rtl.menu-item img {
  margin-left: 12px;
  margin-right: 0px; /* Space between icon and text */
}
.menu-section {
  background-color: #f0f0f0; /* Light background for section */
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.submenu-item {
  margin-top: 10px;
  padding: 8px 40px 8px 25px; /* Consistent indentation for submenu items */
  border-radius: 5px;
  color: #4b5563;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submenu-item:hover {
  background-color: #d1d5db; /* Hover effect for submenu */
}

.icon {
  margin-right: 10px;
  font-size: 16px; /* Size of the icons */
  color: #6b7280; /* Icon color */
}

::ng-deep.p-accordion-toggle-icon {
  order: 1 !important;
  margin-left: 24px;
}

::ng-deep a {
  text-decoration: none !important;
  color: #4b5563;
}
.active-link {
  color: #6d428f; /* Active link text color */
  background-color: rgba(109, 66, 143, 0.1); /* Optional background highlight */
}
::ng-deep [role="button"] {
  cursor: pointer;
  background: transparent !important;
  border: none !important;
}
