<div class="sidebar" >
  <div class="sidebar-header">
    <img src="/assets/Logo.svg" alt="Logo" class="sidebar-logo">
    <h2 class="sidebar-title">{{ 'SIDEBAR.TITLE' | translate }}</h2>
  </div>

  <div class="sidebar-menu">
    <div class="menu-item" routerLink="dashboard" routerLinkActive="active-link">
      <img src="/assets/Leading-Icon.svg" alt="Dashboard Icon" width="16" height="16">
      <span class="d-none d-md-inline">{{ 'SIDEBAR.DASHBOARD' | translate }}</span>
    </div>

    <div class="menu-item" routerLink="reports" routerLinkActive="active-link">
      <img src="/assets/Reports.svg" alt="Reports Icon" width="16" height="16">
      <span class="d-none d-md-inline">{{ 'SIDEBAR.REPORTS' | translate }}</span>
    </div>

    <!-- Users Management Section -->
    <div class="submenu-container" style="background-color: #ffffff; margin-bottom: 16px; border-radius: 7px;">
      <p-accordion [activeIndex]="activeTab === 'users' ? 0 : -1">
        <p-accordionTab (click)="setActiveTab('users')">
          <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
              <img src="/assets/user.svg" alt="Users Icon" width="20" height="20" style="margin: 12px;">
              <span class="d-none d-md-inline" style="margin-top: 2px; font-weight: 500; font-size: 15px;">
                {{ 'SIDEBAR.HORECAS' | translate }}
              </span>
            </div>
          </ng-template>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/group-list">
            {{ 'SIDEBAR.GROUP_LIST' | translate }}
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/companies-list">
            {{ 'SIDEBAR.COMPANIES_LIST' | translate }}
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/branches">
            {{ 'SIDEBAR.BRANCHES_LIST' | translate }}
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/employees-list">
            {{ 'SIDEBAR.EMPLOYEES_LIST' | translate }}
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/customer-list">
            {{ 'SIDEBAR.CUSTOMERS_LIST' | translate }}
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <!-- Campaigns Section with Nested Accordion -->
    <div class="submenu-container" style="background-color: #ffffff; margin-bottom: 16px;border-radius: 7px;">
      <p-accordion [activeIndex]="activeTab === 'campaigns' ? 0 : -1">
        <p-accordionTab (click)="setActiveTab('campaigns')">
          <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
              <img src="/assets/compaigns.svg" alt="Campaigns Icon" width="20" height="20" style="margin: 12px;">
              <span class="d-none d-md-inline" style="font-weight: 500; font-size: 15px;">
                {{ 'SIDEBAR.CAMPAIGNS' | translate }}
              </span>
            </div>
          </ng-template>
          <div class="submenu-item" routerLink="campaigns/compaign-list">
            {{ 'SIDEBAR.CAMPAIGN_LIST' | translate }}
          </div>
          <div class="submenu-item" routerLink="campaigns/promotion-list">
            Promotion List
          </div>
          
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="menu-item" routerLink="feedback/feed-back" routerLinkActive="active-link">
      <img src="/assets/Leading-Icon.svg" alt="Dashboard Icon" width="16" height="16">
      <span class="d-none d-md-inline">Feedback center</span>
    </div>
    <!-- Rewards & Offers Center Section -->
    <div class="submenu-container" style="background-color: #ffffff; margin-bottom: 16px;  border-radius: 7px;">
      <p-accordion [activeIndex]="activeTab === 'rewards' ? 0 : -1">
        <p-accordionTab (click)="setActiveTab('rewards')">
          <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
              <img src="/assets/rewards.svg" alt="Rewards Icon" width="20" height="20" style="margin: 12px;">
              <span class="d-none d-md-inline" style="font-weight: 500; font-size: 15px;">
                {{ 'SIDEBAR.REWARDS' | translate }}
              </span>
            </div>
          </ng-template>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="rewards/rewards-list">
            {{ 'SIDEBAR.REWARD_LIST' | translate }}
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="rewards/offer-list">
            {{ 'SIDEBAR.OFFER_LIST' | translate }}
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="submenu-container" style="background-color: #ffffff; margin-bottom: 16px; border-radius: 7px;">
      <p-accordion [activeIndex]="activeTab === 'locations' ? 0 : -1">
        <p-accordionTab (click)="setActiveTab('locations')">
          <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
              <img src="/assets/user.svg" alt="Users Icon" width="20" height="20" style="margin: 12px;">
              <span class="d-none d-md-inline" style="margin-top: 2px; font-weight: 500; font-size: 15px;">
                Horecas Location
              </span>
            </div>
          </ng-template>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="loctions/regions">
            Regions
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="loctions/countries">
            Countries
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="loctions/areas">
            Area
          </div>
          <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="loctions/cities">
            Cities
          </div>
          <!-- <div (click)="$event.stopPropagation()" class="submenu-item" routerLink="user-management/customer-list">
            {{ 'SIDEBAR.CUSTOMERS_LIST' | translate }}
          </div> -->
        </p-accordionTab>
      </p-accordion>
    </div>
   
    <!-- <div class="menu-item" routerLink="regions" routerLinkActive="active-link" routerLink="user-management/customer-list">
      <img src="/assets/Reports.svg" alt="Reports Icon" width="16" height="16">
      <span class="d-none d-md-inline">Customers</span>
    </div> -->
    <div class="menu-item" routerLink="regions" routerLinkActive="active-link" routerLink="categories/categories">
      <img src="/assets/Reports.svg" alt="Reports Icon" width="16" height="16">
      <span class="d-none d-md-inline">Categories</span>
    </div>
    <div class="menu-item" routerLink="regions" routerLinkActive="active-link" routerLink="roles/role">
      <img src="/assets/Reports.svg" alt="Reports Icon" width="16" height="16">
      <span class="d-none d-md-inline">Roles</span>
    </div>
  </div>
</div>
