<p-table #dt [value]="complaints" [rows]="5" [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Compalaints" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Complaints</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th> -->

            <th pSortableColumn="name">
                Title
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="name">
                Description
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="name">
                Complaint Date
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="name">
                Status

            </th>

            <!-- <th>Image</th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Price
                <p-sortIcon field="price" />
            </th> -->
            <!-- <th pSortableColumn="category" style="min-width:10rem">
                Category
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="rating" style="min-width: 12rem">
                Reviews
                <p-sortIcon field="rating" />
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                Status
                <p-sortIcon field="inventoryStatus" />
            </th> -->

        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>{{ product.title }}</td>

            <td>{{ product.description }}</td>
            <td>{{ product.createdAt |date }}</td>

            <td>
                <p-tag [value]="product.status" [severity]="getSeverity(product.status)" />
            </td>
          


        </tr>
    </ng-template>
</p-table>