

<p-table
    #dt
    [value]="owners"
    [rows]="perPage"
    [loading]="dataLoading"
    loadingIcon="pi pi-spinner pi-spin"
    [paginator]="true"
    [rowHover]="true"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [scrollable]="true"
    scrollHeight="67vh"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Owners"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>

    <!-- Caption -->
    <ng-template #caption>
        <div class="flex items-center justify-between w-full">
            <h5 class="m-0">Manage Plot Owners</h5>
            <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2"(onClick)="ownerDialog=true"/>
        </div>
    </ng-template>

    <!-- Table Header -->
    <ng-template pTemplate="header">
        <tr>
            <th>Owner Name</th>
            <th>Email</th>
            <th>Block Name</th>
            <th pSortableColumn="plotNo">Plot No<p-sortIcon field="plotNo" /></th>
            <th pSortableColumn="areaName">Area<p-sortIcon field="areaName" /></th>
            <th>Bills Reference Number</th>
            <th>Action</th>
        </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-owner>
        <tr *ngIf="!dataLoading && owners.length > 0">
            <td>{{ owner.name }}</td>
            <td>{{ owner.email }}</td>
            <td>{{ owner.blockName }}</td>
            <td>{{ owner.plotNo }}</td>
            <td>{{ owner.areaName }}</td>
            <td>{{ owner.referenceNo || 'N/A' }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="openUpdateDialog(owner)" />
                
            </td>
        </tr>
    </ng-template>

    <!-- Skeleton Loading -->
    <ng-template pTemplate="loadingbody">
        <tr *ngFor="let _ of skeletonRows">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>

    <!-- Empty Message -->
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">
                <div class="flex flex-col items-center justify-center mt-5 text-gray-500">
                    <i class="pi pi-exclamation-circle" style="font-size: 2rem; color: red;"></i>
                    <div class="mt-2">{{'No Records Found' }}</div>
                </div>
            </td>
        </tr>
    </ng-template>

</p-table>

<p-dialog [(visible)]="ownerDialog" [style]="{ width: '500px' }" [header]="ownerId?'Update Owner':'Add Owner'" [modal]="true" [draggable]="false" (onHide)="resetDialog()">
  <form [formGroup]="ownerForm" >
    <div class="flex flex-col gap-4">

      <div>
        <label class="block font-bold mb-2">Name</label>
        <input type="text" pInputText formControlName="name" placeholder="Enter Name" class="w-full" />
        <small class="text-red-500" *ngIf="ownerForm.controls['name'].touched && ownerForm.controls['name'].invalid">
          Name is required.
        </small>
      </div>

      <div>
        <label class="block font-bold mb-2">Email</label>
        <input type="email" pInputText formControlName="email" placeholder="Enter Email" class="w-full" />
        <small class="text-red-500" *ngIf="ownerForm.controls['email'].touched && ownerForm.controls['email'].invalid">
          Valid email is required.
        </small>
      </div>

      <div>
        <label class="block font-bold mb-2">Phone</label>
        <input type="text" pInputText formControlName="phoneNumber" placeholder="Enter Phone Number" class="w-full" />
        <small class="text-red-500" *ngIf="ownerForm.controls['phoneNumber'].touched && ownerForm.controls['phoneNumber'].invalid">
          Phone is required.
        </small>
      </div>

    <div>
  <label class="block font-bold mb-2">Area</label>
  <p-select 
      [options]="areas" 
      optionLabel="name" 
      optionValue="id" 
      appendTo="body" 
      formControlName="areaId" 
      (onChange)="onAreaChange($event)" 
      placeholder="Select Area" 
      class="w-full">
  </p-select>

  <small class="text-red-500" 
         *ngIf="ownerForm.controls['areaId'].touched && ownerForm.controls['areaId'].invalid">
    Area is required.
  </small>
</div>


      <div>
        <label class="block font-bold mb-2">Block</label>
        <p-select [options]="blocks" optionLabel="name" optionValue="id" appendTo="body" formControlName="blockId" (onChange)="onBlockChange($event)" placeholder="Select Block" class="w-full" ></p-select>
        <small class="text-red-500" *ngIf="ownerForm.controls['blockId'].touched && ownerForm.controls['blockId'].invalid">
          Block is required.
        </small>
      </div>

      <div>
        <label class="block font-bold mb-2">Plot</label>
        <p-select [options]="plots" optionLabel="name" optionValue="id" appendTo="body" formControlName="plotId" placeholder="Select Plot" class="w-full"></p-select>
        <small class="text-red-500" *ngIf="ownerForm.controls['plotId'].touched && ownerForm.controls['plotId'].invalid">
          Plot is required.
        </small>
      </div>

    </div>

   
  </form>
   <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" (click)="ownerDialog=false"></p-button>
      <button pButton type="submit" label="Save" icon="pi pi-check" [loading]="loading" [disabled]="ownerForm.invalid" (click)="ownerId?updateOwner():saveOwner()"></button>
    </ng-template>
</p-dialog>



