<div class="container">
  <p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-primary font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url">
          <span class="text-color">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
  <h2 style="color: #6d428f; font-size: 16px; line-height: 24px; font-weight: 600">
    Offer List
  </h2>
  <div>
    <h6>Search</h6>
    <div class="search-container">
      <div class="search-input">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search by Reward name">
      </div>
      <button class="btn btn-outline-secondary">Search</button>
      <button class="btn btn-add-company" (click)="openDialog()">Add Offer</button>
    </div>
  </div>
  <div class="card">
    <p-table #dt1 [value]="customers" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
      [paginator]="true" [globalFilterFields]="[ 'representative.name']">

      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Offer Name
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Company name

            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Category name
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
              Price
            </div>
          </th>

          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Description

            </div>
          </th>

          <th style="min-width:10rem">
            <div class="flex align-items-center">
              Actions
            </div>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            {{ customer.name }}
          </td>
          <td>
            {{ customer.company_name }}
          </td>
          <td>
            {{ customer.category_name }}
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{ customer.price }}</span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">{{ customer.description }}</span>
          </td>

          <td>
            <div class="flex-container">
              <!-- Edit Icon -->
              <img 
                (click)="openDialog(customer)" 
                src="/assets/edit-icon.svg" 
                alt="Edit" 
                class="icon" 
              />
          
              <!-- Delete Icon -->
              <img 
                (click)="onDelete(customer.id, customer.name)" 
                src="/assets/delete.svg" 
                alt="Delete" 
                class="icon" 
              />
          
              <!-- Send Icon (Bootstrap Icon) -->
              <i 
                class="bi bi-send icon" 
                (click)="sendOffer(customer)" 
                style="cursor: pointer; font-size: 1.5rem;" 
              ></i>
            </div>
          </td>
          

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" header="{{isEditMode ? 'Edit Offer' : 'Add offer'}}" [closable]="true"
  [style]="{ width: '50vw' }">
  <form [formGroup]="giveawayForm" class="giveaway-form" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-row">
        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Entered text" formControlName="name" />
          <small *ngIf="giveawayForm.get('name')?.invalid && giveawayForm.get('name')?.touched" class="error-text">
            Name is required.
          </small>
        </div>

        <div class="form-field">
          <label for="price">Price</label>
          <input type="text" id="price" placeholder="Entered text" formControlName="price" />
          <small *ngIf="giveawayForm.get('price')?.invalid && giveawayForm.get('price')?.touched" class="error-text">
            Price is required.
          </small>
        </div>
        <div class="form-field">
          <label for="description">Comapny</label>
          <p-dropdown [options]="companies" optionLabel="name" placeholder="Select Company" optionValue="id"
            formControlName="company_id" class="ml-2" class="custom-dropdown">
          </p-dropdown>
          <small *ngIf="giveawayForm.get('company_id')?.invalid && giveawayForm.get('company_id')?.touched"
            class="error-text">
            Company is required.
          </small>
        </div>

        <div class="form-field">
          <label for="description">Category</label>
          <p-dropdown [options]="categories" optionLabel="name" placeholder="Select Category" optionValue="id"
            formControlName="category_id" class="ml-2" class="custom-dropdown">
          </p-dropdown>
          <small *ngIf="giveawayForm.get('category_id')?.invalid && giveawayForm.get('category_id')?.touched"
            class="error-text">
            category is required.
          </small>
        </div>
        <div class="form-field">
          <label for="description">Description</label>
          <input type="text" id="description" placeholder="Entered text" formControlName="description" />
          <small *ngIf="giveawayForm.get('description')?.invalid && giveawayForm.get('description')?.touched"
            class="error-text">
            Description is required.
          </small>
        </div>
        <div class="form-field">
          <div class="upload-section">
            <div class="upload-info">
              <label for="upload-image" class="upload-label">Upload Image</label>
              <small>Maximum image size allowed is 2MB, supported file formats include .jpg, .png, and .pdf.</small>
            </div>
            <div class="upload-file-section">
              <input type="file" #fileInput id="upload-image" class="upload-input" (change)="onFileChange($event)"
                hidden />
              <button type="button" class="browse-button" (click)="fileInput.click()">Browse File</button>
            </div>
          </div>

        </div>

        <div class="preview-campaign">
          <div class="image-preview-grid">
            <div class="image-preview" *ngFor="let image of imageUrls; let i = index">
              <img [src]="image.url ? image.url : image" alt="Uploaded Image" />
              <button type="button" class="close-icon" (click)="removeImage(image, i)">✖</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="button-row">
      <button pButton label="Cancel" type="button" class="p-button-outlined" (click)="onCancel()"></button>
      <button pButton class="p-button-raised" [disabled]="isLoading" type="submit">
        <ng-container *ngIf="isLoading; else buttonLabel">
          <span class="loading-text">{{ loadingText }}</span>
          <div class="loading-dots">
            <span class="dot" *ngFor="let dot of [1,2,3]; let i = index" [ngClass]="{'animate': isLoading}"></span>
          </div>
        </ng-container>
        <ng-template #buttonLabel>
          {{ isEditMode ? 'Update Offer' : 'Add Offer' }}
        </ng-template>
      </button>
    </div>
  </form>

</p-dialog>
<p-dialog [(visible)]="delete" [modal]="true" [header]="'Delete Offer'" [closable]="true" [style]="{ width: '30vw' }">
  <div class="giveaway-form">
    <p>
      Are you sure you want to delete <strong>{{ employeeNameToDelete }}</strong>?
    </p>

    <div class="button-row">
      <button pButton label="Cancel" class="p-button-outlined" (click)="onDeleteCancel()"
        [disabled]="isLoading"></button>

      <button pButton class="p-button-raised" [disabled]="isLoading" (click)="confirmDelete()">
        <ng-container *ngIf="isLoading; else deletebuttonLabel">
          <span class="loading-text">{{ loadingText }}</span>
          <div class="loading-dots">
            <span class="dot" *ngFor="let dot of [1, 2, 3]; let i = index" [ngClass]="{ animate: isLoading }"></span>
          </div>
        </ng-container>
        <ng-template #deletebuttonLabel>
          {{ isLoading ? loadingText : "Delete" }}
        </ng-template>
      </button>
    </div>

    <!-- Loading animation -->
  </div>
</p-dialog>